*.so*
*.pro.user
*.[oa]
*~
qrc_*
ui_*
moc_*
Makefile
bridge/bridge
CMakeCache.txt
CMakeFiles
creator-live/creator-live
pluginTester/appTester
cmake_install.cmake
*.depends
build
*txt.user
pluginTester/CTestTestfile.cmake
plugins/
test/CTestTestfile.cmake
